# SQLite Database Practice

In [80]:
# import modules
import pandas as pd
import sqlite3 as db

In [81]:
# connect the database
conn = db.connect('prac_customer.db')
c = conn.cursor()

In [104]:
c.execute("""
SELECT *
FROM sqlite_schema
WHERE type = 'table' AND name NOT LIKE 'sqlite_%'
""").fetchall()

[('table',
  'customers',
  'customers',
  4,
  'CREATE TABLE customers (\n    first_name CHAR(20) PRIMARY KEY, \n    last_name CHAR(20) NOT NULL,\n    email CHAR(25) NOT NULL)')]

In [82]:
c.execute("""
CREATE TABLE IF NOT EXISTS customers (
    first_name CHAR(20) PRIMARY KEY, 
    last_name CHAR(20) NOT NULL,
    email CHAR(25) NOT NULL)
""")

In [83]:
# insert multiple records
customers = [('Wes', 'Brown', 'wes@brown.com'), 
             ('Steph', 'Kuewa', 'steph@kuewa.com'),
             ('Dan', 'Pas', 'dan@pas.com')]

c.executemany("""INSERT INTO customers
VALUES (?, ?, ?)
""", customers)

In [84]:
# define function to show all result
def show_all(db):
    # query the database
    print(pd.read_sql_query("""
    SELECT rowid, *
    FROM customers
    """, db))

In [85]:
show_all(conn)

   rowid first_name last_name            email
0      1        Wes     Brown    wes@brown.com
1      2      Steph     Kuewa  steph@kuewa.com
2      3        Dan       Pas      dan@pas.com

In [86]:
# define function to add one record
def add_one(first_name, last_name, email, db):
    cursor = db.cursor()
    cursor.execute("""
    INSERT INTO customers VALUES (?, ?, ?)
    """, (first_name, last_name, email))

In [87]:
add_one('rin', 'huang', 'rin@huang.com', conn)
show_all(conn)

   rowid first_name last_name            email
0      1        Wes     Brown    wes@brown.com
1      2      Steph     Kuewa  steph@kuewa.com
2      3        Dan       Pas      dan@pas.com
3      4        rin     huang    rin@huang.com

In [88]:
# define function to delete one record
def delete_one(id, db):
    cursor = db.cursor()
    cursor.execute("""
    DELETE FROM customers
    WHERE rowid = (?)
    """, id)

In [89]:
delete_one('8', conn)
show_all(conn)

   rowid first_name last_name            email
0      1        Wes     Brown    wes@brown.com
1      2      Steph     Kuewa  steph@kuewa.com
2      3        Dan       Pas      dan@pas.com
3      4        rin     huang    rin@huang.com

In [90]:
# define function to add many records
def add_many(lst, db):
    c = db.cursor()
    c.executemany("""
    INSERT INTO customers VALUES (?, ?, ?)
    """, lst)

In [91]:
staff = [('Brenda', 'Smitherton', 'brenda@smitherton.com'),
         ( 'Joshua', 'Raintree', 'josh@raintree.com')]

add_many(staff, conn)
show_all(conn)

   rowid first_name   last_name                  email
0      1        Wes       Brown          wes@brown.com
1      2      Steph       Kuewa        steph@kuewa.com
2      3        Dan         Pas            dan@pas.com
3      4        rin       huang          rin@huang.com
4      5     Brenda  Smitherton  brenda@smitherton.com
5      6     Joshua    Raintree      josh@raintree.com

In [92]:
# define a fucntion to lookup someone's 
# information based on email address
def email_lookup(email, db):
    # return db.cursor().execute("SELECT * FROM customers WHERE email = (?)", (email,)).fetchall()
    return pd.read_sql_query("SELECT * FROM customers WHERE email = (?)", db, params=[email])

In [93]:
email_lookup("dan@pas.com", conn)

  first_name last_name        email
0        Dan       Pas  dan@pas.com

In [94]:
show_all(conn)

   rowid first_name   last_name                  email
0      1        Wes       Brown          wes@brown.com
1      2      Steph       Kuewa        steph@kuewa.com
2      3        Dan         Pas            dan@pas.com
3      4        rin       huang          rin@huang.com
4      5     Brenda  Smitherton  brenda@smitherton.com
5      6     Joshua    Raintree      josh@raintree.com

In [105]:
conn.commit()
conn.close()